DATABASE_URL=postgresql://user:pass@host:5432/dbname
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dca_first_timers
SECRET_KEY=change-me-to-a-random-string
ADMIN_EMAIL=admin@dca.church
ADMIN_PASSWORD=changeme
FLASK_ENV=development
FLASK_DEBUG=True
